body {
    background-color: #722F37;
    font-family: 'Inconsolata', monospace;
    color:azure;
}

#review-pic {
    max-width: 80%;
    height:auto;
}

#index-page-pic {
    max-width: 100%;
    height:auto;
}

body #nav-font {
    color: darkblue;
}

body #container-font {
    color: darkblue;
}

/* social media footer section */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}
