body {
    background-color: #722F37;
    font-family: 'Inconsolata', monospace;
    color:azure;
}

#review-pic {
    max-width: 100%;
    max-height: 500px;
    height:auto;
}

#index-page-pic {
    max-width: 100%;
    height:auto;
}

body #nav-font {
    color: darkblue;
}

body #container-font {
    color: darkblue;
}

body #quotes {
    color: azure;
}

body #features {
    color: azure;
}

/* Index page slideshow */

.slideshow-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.slides {
    display: flex;
    /* add transform here */
}

.slides img {
    width: 100%;
    height: auto;
}


/* social media footer section */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}

/* menu styling */

.restaurant-menu {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px;
}

/* responsive design */

@media (max-width: 900px) {
.restaurant-menu {
    margin: 20px;
}
}


