body {
    background-color: #722F37;
    font-family: 'Inconsolata', monospace;
    color:azure;
}

#review-pic {
    max-width: 100%;
    height:auto;
}

#index-page-pic {
    max-width: 100%;
    height:auto;
}

body #nav-font {
    color: darkblue;
}

body #container-font {
    color: darkblue;
}